
<div *ngIf="producto">
    <h2><span jhiTranslate="pharmacrmApp.producto.detail.title">Producto</span> {{producto.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="pharmacrmApp.producto.sku">Sku</span></dt>
        <dd>
            <span>{{producto.sku}}</span>
        </dd>
        <dt><span jhiTranslate="pharmacrmApp.producto.nombre">Nombre</span></dt>
        <dd>
            <span>{{producto.nombre}}</span>
        </dd>
        <dt><span jhiTranslate="pharmacrmApp.producto.proveedor">Proveedor</span></dt>
        <dd>
            <div *ngIf="producto.proveedor">
                <a [routerLink]="['/proveedor', producto.proveedor?.id]">{{producto.proveedor?.nombre}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="pharmacrmApp.producto.presentacion">Presentacion</span></dt>
        <dd>
            <div *ngIf="producto.presentacion">
                {{producto.presentacion?.nombre}}
            </div>
        </dd>
        <dt><span jhiTranslate="pharmacrmApp.producto.precioDeVenta">Precio De Venta</span></dt>
        <dd>
            <span>{{producto.precioDeVenta}}</span>
        </dd>
        <dt><span jhiTranslate="pharmacrmApp.producto.precioDeVenta2">Precio De Venta 2</span></dt>
        <dd>
            <span>{{producto.precioDeVenta2}}</span>
        </dd>
        <dt><span jhiTranslate="pharmacrmApp.producto.precioDeVenta3">Precio De Venta 3</span></dt>
        <dd>
            <span>{{producto.precioDeVenta3}}</span>
        </dd>
        <dt *jhiHasAnyAuthority="'ROLE_ADMIN'"><span jhiTranslate="pharmacrmApp.producto.precioDeCosto">Precio De Costo</span></dt>
        <dd *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <span>{{producto.precioDeCosto}}</span>
        </dd>
        <dt><span jhiTranslate="pharmacrmApp.producto.unidadesEnStock">Unidades En Stock</span></dt>
        <dd>
            <span>{{producto.unidadesEnStock}}</span>
        </dd>
        <dt><span jhiTranslate="pharmacrmApp.producto.minimoEnExistencia">Minimo En Existencia</span></dt>
        <dd>
            <span>{{producto.minimoEnExistencia}}</span>
        </dd>
        <dt><span jhiTranslate="pharmacrmApp.producto.estado">Estado</span></dt>
        <dd>
            <span jhiTranslate="{{'pharmacrmApp.EstadoDeProducto.' + producto.estado}}">{{producto.estado}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'producto/'+ producto.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary" *jhiHasAnyAuthority="'ROLE_ADMIN'">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
