<div>
    <h2>
        <span jhiTranslate="pharmacrmApp.inventario.home.title">Inventarios</span>
        <button class="btn btn-primary float-right jh-create-entity create-inventario" [routerLink]="['/', { outlets: { popup: ['inventario-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="pharmacrmApp.inventario.home.createLabel">
            Create new Inventario
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'pharmacrmApp.inventario.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="inventarios">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span jhiTranslate="global.field.id">ID</span></th>
                <th><span jhiTranslate="pharmacrmApp.inventario.fecha">Fecha</span></th>
                <th><span jhiTranslate="pharmacrmApp.inventario.tipoDeMovimiento">Tipo De Movimiento</span></th>
                <th><span jhiTranslate="pharmacrmApp.inventario.producto">Producto</span></th>
                <th><span jhiTranslate="pharmacrmApp.inventario.cantidad">Cantidad</span></th>
                <th><span jhiTranslate="pharmacrmApp.inventario.precio">Precio</span></th>
                <th><span jhiTranslate="pharmacrmApp.inventario.detalles">Detalles</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let inventario of inventarios ;trackBy: trackId">
                <td><a [routerLink]="['../inventario', inventario.id ]">{{inventario.id}}</a></td>
                <td>{{inventario.fecha | date:'mediumDate'}}</td>
                <td jhiTranslate="{{'pharmacrmApp.TipoDeMovimiento.' + inventario.tipoDeMovimiento}}">{{inventario.tipoDeMovimiento}}</td>
                <td>
                    <div *ngIf="inventario.producto">
                        <a [routerLink]="['../producto', inventario.producto?.id ]" >{{inventario.producto?.proveedor.nombre}} - {{inventario.producto?.nombre}} ({{inventario.producto?.presentacion.nombre}})</a>
                    </div>
                </td>
                <td>{{inventario.cantidad}}</td>
                <td>{{inventario.precio}}</td>
                <td>{{inventario.detalles}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../inventario', inventario.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'inventario/'+ inventario.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'inventario/'+ inventario.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
