<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myOrdenDeCompraLabel" jhiTranslate="pharmacrmApp.ordenDeCompra.home.createOrEditLabel">Create or edit a Orden De Compra</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!ordenDeCompra.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="ordenDeCompra.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pharmacrmApp.ordenDeCompra.numeroDeReferencia" for="field_numeroDeReferencia">Numero De Referencia</label>
            <input type="text" class="form-control" name="numeroDeReferencia" id="field_numeroDeReferencia"
                [(ngModel)]="ordenDeCompra.numeroDeReferencia" required/>
            <div [hidden]="!(editForm.controls.numeroDeReferencia?.dirty && editForm.controls.numeroDeReferencia?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.numeroDeReferencia?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pharmacrmApp.ordenDeCompra.fecha" for="field_fecha">Fecha</label>
            <div class="input-group">
                <input id="field_fecha" type="text" class="form-control" name="fecha" ngbDatepicker  #fechaDp="ngbDatepicker" [(ngModel)]="ordenDeCompra.fecha"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="fechaDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.fecha?.dirty && editForm.controls.fecha?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.fecha?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pharmacrmApp.ordenDeCompra.total" for="field_total">Total</label>
            <input type="number" class="form-control" name="total" id="field_total"
                [(ngModel)]="ordenDeCompra.total" min="0"/>
            <div [hidden]="!(editForm.controls.total?.dirty && editForm.controls.total?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.total?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.total?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pharmacrmApp.ordenDeCompra.fechaDeEntregaEsperada" for="field_fechaDeEntregaEsperada">Fecha De Entrega Esperada</label>
            <div class="input-group">
                <input id="field_fechaDeEntregaEsperada" type="text" class="form-control" name="fechaDeEntregaEsperada" ngbDatepicker  #fechaDeEntregaEsperadaDp="ngbDatepicker" [(ngModel)]="ordenDeCompra.fechaDeEntregaEsperada"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="fechaDeEntregaEsperadaDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.fechaDeEntregaEsperada?.dirty && editForm.controls.fechaDeEntregaEsperada?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.fechaDeEntregaEsperada?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pharmacrmApp.ordenDeCompra.estado" for="field_estado">Estado</label>
            <select class="form-control" name="estado" [(ngModel)]="ordenDeCompra.estado" id="field_estado"  required>
                <option value="ACTIVA">{{'pharmacrmApp.EstadoDeOrdenDeCompra.ACTIVA' | translate}}</option>
                <option value="EMITIDA">{{'pharmacrmApp.EstadoDeOrdenDeCompra.EMITIDA' | translate}}</option>
                <option value="CANCELADA">{{'pharmacrmApp.EstadoDeOrdenDeCompra.CANCELADA' | translate}}</option>
                <option value="CERRADA">{{'pharmacrmApp.EstadoDeOrdenDeCompra.CERRADA' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.estado?.dirty && editForm.controls.estado?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.estado?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pharmacrmApp.ordenDeCompra.recibido" for="field_recibido">Recibido</label>
            <select class="form-control" name="recibido" [(ngModel)]="ordenDeCompra.recibido" id="field_recibido"  required>
                <option value="NO_RECIBIDO">{{'pharmacrmApp.RecibidoOrdenDeCompra.NO_RECIBIDO' | translate}}</option>
                <option value="PARCIAL">{{'pharmacrmApp.RecibidoOrdenDeCompra.PARCIAL' | translate}}</option>
                <option value="TOTAL">{{'pharmacrmApp.RecibidoOrdenDeCompra.TOTAL' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.recibido?.dirty && editForm.controls.recibido?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.recibido?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pharmacrmApp.ordenDeCompra.proveedor" for="field_proveedor">Proveedor</label>
            <select class="form-control" id="field_proveedor" name="proveedor" [(ngModel)]="ordenDeCompra.proveedor"  required>
                <option *ngIf="!editForm.value.proveedor" [ngValue]="null" selected></option>
                <option [ngValue]="proveedorOption.id === ordenDeCompra.proveedor?.id ? ordenDeCompra.proveedor : proveedorOption" *ngFor="let proveedorOption of proveedors; trackBy: trackProveedorById">{{proveedorOption.nombre}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.proveedor?.dirty && editForm.controls.proveedor?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.proveedor?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
